<h1>FacebookUserWorks EDIT</h1>
<div class="col-md-6 offset-md-3">
    <form [formGroup]="facebookUserWorkFormGroup">
<div class="form-group">
    <label>Work Name</label>
    <input type="text" formControlName="workName" class="form-control"  />
</div>
<div class="form-group">
    <label>Work Description</label>
    <input type="text" formControlName="workDescription" class="form-control"  />
</div>
<div class="form-group">
    <label>Work Start Date</label>
    <input type="date" formControlName="workStartDate" class="form-control"  />    
</div>
<div class="form-group">
    <label>Work End Date</label>
    <input type="date" formControlName="workEndDate" class="form-control"  />    
</div> 
<button (click)="Post()">Add </button>
</form> 
</div>
